<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">Welcome, Big Dawg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1 style="background-color:DodgerBlue;" style="color:yellowgreen;">Options</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
      <p>Click <a href="/datapull">here</a> to Search Data Pull.</p>
      <p>Click <a href="/one">here</a> to answer Q1.</p>
      <p>Click <a href="/two">here</a> to answer Q2.</p>
    </div>
  </body>
</html> 
