<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">Data Pull App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" style="background-color:DodgerBlue;" style="color:yellowgreen;">Customer Engagement (Answer To Q1)</h2>
      <br> 
      <p>Click <a href="/home">here</a> to go to back.</p>
      <div class = "intro">
        <h4 class="text-center">
          Below is A Graph of the Average Spending Per Day From All Households in The Households Dataset
        </h4>
      </div>
      <br>
      
      <img src="Question1_CC.png" style="max-width: 100%">
      <h5 class="text-center">
        As you can see from the graph, over the course of almost 2 years there is a slight increase in overall customer engagement.
        Customer Engagement is calculated as average spent by all households per day.
      </h5>
      <h6 class="text-center">A link to the code used to generate this dataset can be found<a href="https://github.com/JakeTM9/PythonPandasAnalysis/blob/main/questionOne.py"> here</a></h6>
      <!--<h2>User: {{username}}</h2> --> <!--Can Figure how to push to the DB another time, dont want to send username in every route after login post-->
    </div>
  </body>
</html> 