<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">Data Pull App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      table, th, td {
      border: 1px solid black;
    }
    </style>   
  </head>
  <body>
    <div class="container">
      <h1 style="background-color:DodgerBlue;" style="color:yellowgreen;">DataPull for Household {{desiredHousehold}}:</h2>
      <br>
    </div><!---->
    
    <div class="container"> 
      <p>Click <a href="/home">here</a> to go to back.</p>
      <table>
        <tr>
          <th>HouseHold Number</th>
          <th>Basket Number</th>
          <th>Date of Purchase</th>
          <th>Product Number</th>
          <th>Department</th>
          <th>Commodity</th>
          <th>Spend</th>
          <th>Units</th>
          <th>Store Region</th>
          <th>Week Number</th>
          <th>Year</th>
          <th>Loyalty Flag</th>
          <th>Age Range</th>
          <th>Marital Status</th>
          <th>Income Range</th>
          <th>Homeowner Description</th>
          <th>Household Composition</th>
          <th>Household Size</th>
          <th>Children</th>

        </tr>
        
          {% for index, row in household_df.iterrows() %}
            <tr>
                <td>{{row['HSHD_NUM']}}</td>
                <td>{{row['BASKET_NUM']}}</td>
                <td>{{row['PURCHASE_'].date()}}</td>
                <td>{{row['PRODUCT_NUM']}}</td>
                <td>{{row['DEPARTMENT']}}</td>
                <td>{{row['COMMODITY']}}</td>
                <td>{{row['SPEND']}}</td>
                <td>{{row['UNITS']}}</td>
                <td>{{row['STORE_R']}}</td>
                <td>{{row['WEEK_NUM']}}</td>
                <td>{{row['YEAR']}}</td>
                <td>{{row['L']}}</td>
                <td>{{row['AGE_RANGE']}}</td>
                <td>{{row['MARITAL']}}</td>
                <td>{{row['INCOME_RANGE']}}</td>
                <td>{{row['HOMEOWNER']}}</td>
                <td>{{row['HSHD_COMPOSITION']}}</td>
                <td>{{row['HH_SIZE']}}</td>
                <td>{{row['CHILDREN']}}</td>
            </tr>
        <!-- <h2>Value: </h2> -->
          {% endfor %}
          
        
      </table>
      <!-- {{id}} -->
    </div>
  </body>
</html> 