<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">Data Pull App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" style="background-color:DodgerBlue;" style="color:yellowgreen;">Home</h2>
      <br> 
      <div class = "intro">
        <h4 class="text-center">
          Welcome to the home page of Group 13's Cloud Computing Final Project. Please view our options below:
        </h4>
      </div>
      
      <br>
      <!--<h2>User: {{username}}</h2> --> <!--Can Figure how to push to the DB another time, dont want to send username in every route after login post-->
      <p class="text-center">Click <a href="/datapullHousehold10">here</a> For The Data Pull of HouseHold 10.</p>
      <p class="text-center">Click <a href="/datapullCustomInput">here</a> To Run A Data Pull On A Desired HouseHold.</p>
      <p class="text-center">Click <a href="/customerEngagement">here</a> For Customer Engagement.</p>
      <p class="text-center">Click <a href="/demographicFactorsCustomerEngagement">here</a> For Demographic Factors that affect Customer Engagement.</p>
      <p class="text-center">Click <a href="/one">here</a> to answer Q1.</p>
      <p class="text-center">Click <a href="/two">here</a> to answer Q2.</p>
      <p class="text-center">Click <a href="/">here</a> To Login Again.</p>
    </div>
  </body>
</html> 
