<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">Data Pull App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1 style="background-color:DodgerBlue;" style="color:yellowgreen;">Home</h2>
      <br>
      <!--<h2>User: {{username}}</h2> --> <!--Can Figure how to push to the DB another time, dont want to send username in every route after login post-->
      <p>Click <a href="/datapullHousehold10">here</a> For The Data Pull of HouseHold 10.</p>
      <p>Click <a href="/datapullCustomInput">here</a> To Run A Data Pull On A Desired HouseHold.</p>
      <p>Click <a href="/one">here</a> to answer Q1.</p>
      <p>Click <a href="/two">here</a> to answer Q2.</p>
      <p>Click <a href="/">here</a> To Login Again.</p>
    </div>
  </body>
</html> 
